.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}


.rightbarTitle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.trophyIcon {
    font-size: 35px !important;
    margin-right: 10px;
}

.achivedgenreTop {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
}

.genreTitel {
    margin-right: 30px;
    flex: 8;
}
.genreAchivedRatio{
    flex: 4;
}
.achivedWords {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}